header {
    width: 100%;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    position: sticky;
    // overflow: hidden;
    z-index: 3;
    /* Nos aseguramos que queda por encima */
}

nav {
    text-align: center;
    margin-bottom: 3em;
    display: block;
    height: inherit;
    // position: fixed;
    background-color: $bg-nav;
    overflow: hidden;

    &>.c-nav {
        &__contenedor {
            overflow: hidden;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            // width: 95%;
            height: inherit;
            text-align: center;
            margin: auto;
            height: inherit;
            margin-left: 1.5%;
            padding: $padding-vert--2 $padding-hor;

            & .c-nav__menu {
                display: flex;
                flex-direction: column;
                &>img {
                    // Centramos
                    margin: auto;
                    width: 35px;
                }
            }

            & a {
                color: $color-nav;
                font-size: $txt-tamanio--xl;
                text-decoration: none;
                font-weight: bold;
                font-family: $font-family__nav;
                &>img {
                    width: 50px;
                    height: auto;
                }
            }

            &>#c-btn-home {
                margin-left: 0;
            }

            &>div {
                margin: auto;
                font-size: $txt-tamanio--xl;
                padding-top: 4px;
                padding-right: 10px;

                /*border-top: 3px solid rgb(2, 6, 34);  */
                &:not(#c-btn-home, #c-nav__login):hover {
                    height: inherit;

                    &>* {
                        color: $color--principal;
                        text-decoration: none;
                    }

                    cursor: pointer;
                    opacity: 89%;
                    border-color: $color--principal;
                    border-bottom: 2px solid $bg-color--secundario;
                }

                padding: $padding-vert $padding-hor;
            }

            &>form {
                margin-right: 35px;
                margin-top: 3em;
            }
        }

        & .c-btn-home {
            width: 5vw;
            height: inherit;
            vertical-align: auto;
            margin-left: -25px;
            border-left: 0ch;
            border-right: 0ch;
        }

        &>form {
            float: right;
            vertical-align: middle;
            margin-right: 3.25%;
        }
    }

    #c-nav {
        &__login {
            overflow: hidden;
            margin-left: 2.75;
            margin-right: 2.75rem;
            display: grid;
            grid-template-columns: [p] 80% [img] 20%;
            grid-template-rows: auto;
            grid-gap: 0px;


            & img {
                grid-row: 1 / -1;
                grid-column: img;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                cursor: pointer;
            }

            & ul {
                display: none;
            }

            & p,
            a {
                text-decoration: none;
                margin-right: 10px;
                grid-column: p;
                vertical-align: middle;
            }
        }
    }
}