table {
    border-collapse: collapse;
}
table,th,tr,td {
    width: 60vw;
    height: 4.5vh;
    border: 1.5px solid $bg-color--principal;
    margin: auto;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    font-family: $font-family__p;
}
th {
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgba(132, 74, 4, 0.85);
}

tr:nth-child(even) {
    background-color: rgba(163, 134, 84, 0.5);
    color: rgb(255, 255, 255);
}

.cambiaImg {
    cursor: pointer;
    &__img{
        display: none;
        width: 25%;
        height: auto;
        &:hover  {
            display: "";
        }
    }
}

.editar {
    width: 20px;
    height: 20px;
    background: url("https://www.flaticon.es/icono-gratis/lapiz_872350?term=edit&page=1&position=7&page=1&position=7&related_id=872350&origin=search");
    image-orientation: 50% 50%;
}
.tablas {
    padding: $padding-vert--2;
    margin: 5vh 15%;
    display: flex;
    justify-content: center;
    background-color: $bg-color--principal-2;
    border-radius: 5px;
    box-shadow: 0px 5px 25px darkgoldenrod;   
    &:hover {
        border-radius: 10px;
        transition: .5s;
    }
}